
form input {
  width: 600px;
}
form button {
  width: 92px;
}

body{
  background-color: rgb(59, 59, 59);
}

div.logo {
  max-height: 70px;
  max-width: 10px;
}

footer h5 {
  color: #F4B400;
}

footer p {
  color: white;
}

footer a {
  color: white;
}
