
form input {
  width: 600px;
}
form button {
  width: 92px;
}

body{
  background-color: rgb(59, 59, 59);
}

div.logo img {
  height: 200px;
  width: 200px;
}

footer h5 {
  color: #F4B400;
}

footer p {
  color: white;
}

footer a {
  color: white;
}

span a i.cart {
  color: white;
  font-size: 30px;
}

span a span.notifications {
  color: white;
  background-color: #F4B400;
  font-size: 20px;
}

div.page {
  background-color: rgb(52, 58, 64);
} 

@media screen and (max-width: 425px) {

}