body{
  background-color: rgb(59, 59, 59);
}

h1 {
  color: white;
  font-family: monospace;
}

h2 {
  color: red;
  font-size: 50px;
  font-family: fantasy;
}

form div label {
  color: red;
  font-size: 20px;
  text-transform: uppercase;
  font-family: fantasy;
}

table.table {
  background-color: grey;
}

table thead th {
  color: white;
}

table tbody td {
  color: white;
  width: 100%;
}
